<main>
  <section class="find_filter">
    <div class="search_input">
        <label for="search">
            <img src="assets/search-icon.svg" alt="" srcset="">
          </label>
      <input  placeholder="Search for a country..." type="text" id="search" name="search">
    </div>
    <div class="filter_group">
        <div class="region_filter">
          <div class="header" (click)="load_type_filter()">Filter By region</div>
          <div class="content" >
            <ul >
              <li  *ngFor="let filter of list_of_filter"  (click)="filter_action(filter)" >{{filter}}</li>
            </ul>
          </div>
        </div>  
    </div>
  </section>
  <section class="cards">
    <div class="cardCountries" *ngFor="let country of list_of_countries">
      <div class="card-header">
        <img src="{{country.flag}}" alt="flag" />
      </div>
      <div class="card-body">
        <h2 class="title">{{country.name}}</h2>
        <ul>
          <li><span class="keys">Population: </span>{{country.population}}</li>
          <li><span class="keys">Region: </span>{{country.region}}</li>
          <li><span class="keys">Capital: </span>{{country.capital}}</li>
        </ul>
      </div>
    </div>
  </section>
</main>
