/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$DarkBlue : hsl(209, 23%, 22%); // (Dark Mode Elements)
$VeryDarkBlueBackground: hsl(207, 26%, 17%); // (Dark Mode Background)
$VeryDarkBlue : hsl(200, 15%, 8%); //(Light Mode Text)
$DarkGray: hsl(0, 0%, 52%); //  (Light Mode Input)
$VeryLightGray: hsl(0, 0%, 98%); //(Light Mode Background)
$White: hsl(0, 0%, 100%); // (Dark Mode Text & Light Mode Elements)

    

:root {
    --color-background: hsl(0, 0%, 98%);
    --color-text-input: hsl(0, 0%, 52%);
    --color-elements: hsl(0, 0%, 100%);
    --color-hover: hsl(0, 0%, 90%);
    --color-text: hsl(200, 15%, 8%);
    --color-search: hsl(0, 0%, 52%);
    --color-dark-mode-background: hsl(207, 26%, 17%);
    --color-light-mode-background: hsl(0, 0%, 98%);
    --header-primary: 2.3875rem;
    --header-font-large: 3.6rem;
    --header-font-small: 1.8rem;
    --paragraph-font-regular: 1.6rem;
    --paragraph-font-small: 1.4rem;
    --line-height-regular: 1.6;
    --font-weight-boldest: 800;
    --font-weight-bold: 600;
    --font-weight-light: 300;
}

html[data-theme="dark"] {
    --color-text: #{$White};
    --color-background: #{$VeryDarkBlueBackground};
    --color-background: hsl(207, 26%, 17%);
    --color-text-input: hsl(0, 0%, 100%);
    --color-elements: hsl(209, 23%, 22%);
    --color-hover: hsl(208, 26%, 18%);
    --color-text: hsl(0, 0%, 100%);
    --color-search: hsl(0, 0%, 100%);
    --shadow-common: 0 2px 4px hsla(0, 0%, 0%, .2);
    --shadow-focued: 0 2px 4px hsla(0, 0%, 0%, .3);
}
// define themes
body{
    color: var(--color-text);
    background: var(--color-background);
}
